::selection {
	color: white;
	background-color: #841e30;
}
.boton1 {
	font-family:  Helvetica;
	color: #F35B32;
	background-color: #fff;
	height: 20px;
	width: 70px;
	border-radius: 15px;
}
.boton4 {
	font-family: Helvetica;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	background-color: #841E30;
	height: 20px;
	width: 70px;
	font-weight: 100;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.boton2 {
	font-family:  Helvetica;
	color: #666666;
	background-color: #fff;
	height: 20px;
	border: 1px solid #999999;
}
.boton5 {
	font-family:  Helvetica;
	color: #666666;
	background-color: #fff;
	height: 20px;
	border: 1px solid #999999;
	width: 100px;
}
.boton3 {
	font-family: Helvetica;
	color: #666666;
	background-color: #fff;
	height: 100px;
	border: 1px solid #999;
}
header {
	background-image:url(../imagenes/header.jpg);
	width: 100%;
	height:160px;
}
.clear { clear: both; }
footer {
	background-color: #e7e6dc;
	width: 100%;
	min-height: 92px;
}
nav {
	width: 698px;
	float:right;
	padding-top: 60px;
}
#header {
	width: 980px;
	height: 150px;
	margin: auto;
	padding-top:10px;	
}
#banner {
	width: 960px;
	height: 160px;
	margin: auto;
	background-color: #e7e6dc;
	padding-left:20px;
	padding-top:20px;
}
#banner_img {
	width: 940px;
	height: 140px;
}
.clear { clear: both; }
#contenido {
	width:100%;
	min-height:368px;
	background-color: #e7e6dc;
}
.clear { clear: both; }
#contenidodentro {
	width: 980px;
	min-height:368px;
	margin: auto;
	background-color: #e7e6dc;
}
#emagenic {
	padding-top:20px;
	text-align: center;
	font-family: Helvetica;
	font-size: 14px;
	color: #3f1f10;
	font-weight:100;
	font-variant: normal;
}
.clear { clear: both; }
#info {
	background-color: #e7e6dc;
	width: 100%;
	min-height: 180px;
	margin: auto;
}
.clear { clear: both; }
#infocontenido {
	background-color: #e7e6dc;
	width: 980px;
	min-height: 180px;
	margin: auto;
}
.clear { clear: both; }
#footer {
	background-color: #e7e6dc;
	width: 980px;
	min-height: 92px;
	margin: auto;
}
.clear { clear: both; }
#lineafooter {
	background-color: #cdcbbb;
	width: 980px;
	min-height: 1px;
}
#logo {
	width: 282px;
	height: 131px;
	display: inline-block;
	float:left;
}
.textos {
	font-family: Helvetica;
	font-size: 14px;
	color: #3f1f10;
	font-weight:100;
	font-variant: normal;
}
.cotiza {
	font-family: helvetica;
	font-size: 24px;
	color: #fff;
	font-weight: lighter;
	font-weight: 100;
	font-variant: normal;
	padding-left: 20px;
}
.detalle {
	font-family: helvetica;
	font-size: 14px;
	color: #fff;
	font-weight: lighter;
	font-weight: 100;
	font-variant: normal;
	padding-left: 20px;
}
.li {
	display: inline;
	margin: 0;
	font-family: "Times New Roman";
	font-size: 16px;
	color: #663319;
	font-style: normal;
	line-height: normal;
	font-weight: 100;
	text-decoration: none;
	padding-left: 20px;
	float:right;
}
.li:hover {
	display: inline;
	margin: 0;
	font-family: "Times New Roman";
	font-size: 16px;
	color: #9f122b;
	font-style: normal;
	line-height: normal;
	font-weight: 100;
	padding-left: 20px;
	float:right;
}
.titulos {
	font-family: Helvetica;
	font-size: 24px;
	text-transform: uppercase;
	color: #841e30;
	font-weight: 100;
}
